.hideclass {
  display:none;
}


.project_title {
    background-color: rgba(53,94,129,1);
    height: 12vh;
    width: 100%;
    color: white;
    margin: 0;
    float: left;
}

.p_h2 {
  font-size: 1.5rem;
  color: white;
}

.p_stepnum {
	font-size: 1rem;
}

.divbom {
    background-color: rgba(53,111,162,1);
	align: right;
}




.lefttreenode {
	border-style: solid;
	border-color: white;
	border-radius: 10px;
    background: #000000;
    padding:5px;
	float:left;
}
.lefttreesubdiv{
	margin-left: 30px;
	float:left;
}

.ptree2{
	position: fixed;
	height: 90%; 
    overflow-y: scroll; // adds scrollbar	
}